[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dynaconf = { extras = ["yaml"], version = "*" }
openpyxl = "*"
django = "*"
delorean = "*"
dj-database-url = "*"
sentry-sdk = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.8"
