{% extends "_base.html" %}

{% block content %}

<form  method="post">
    {% csrf_token %}

    <div>{{ form.non_field_errors }}</div>

    {% for f in form %}
      <div class="row mb-4">
        <label for="{{ f.id_for_label }}" class="col-sm-2 col-form-label">{{f.label}}:</label>
          <div class="col-sm-7">
            {{ f }}
          </div>
      </div>
      <div class="form-error">{{ f.errors }}</div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Войти</button>
</form>

{% endblock %}