{% extends "_base.html" %}

{% block content %}
<p>
  Данный сервис предоставляет возможность конвертирования данных из формата «xlsx» в формат «xml» в структуре,
  которую может "прочитать" и импортировать программный комплекс по расчёту смет и процентовок «SXW».
</p>
<p>
  Иногда сметчикам поступают довольно странные задачи, и одна из них может заключаться в следующем. Из набора
  материалов полученных, например, путем выгрузки из «1С», составить полноценную смету. То есть, для предоставленного
  набора материалов подобрать соответствующие работы и распределить материалы среди них.  Погружаться в обсуждение
  сложности задачи данного уровня мы не будем. Но стоит отметить , что всё осложняется еще и тем,  что  исходные
  данные, в данном случае перечень материалов, также необходимо будет загрузить в программу и это придется делать в
  ручную. При этом, если перечень материалов достаточно велик, например 200-300 позиции, то это серьезно осложнит задачу.
</p>
<p>
  Так вот, данный сервис придуман для того чтобы облегчить жизнь сметчику хотя бы в этом вопросе. Он дает возможность
  перегрузить данные из вашего исходного excel-файла с материалами в файл формата «xml». Который в последующем можно
  импортировать в программный комплекс по расчёту смет и процентовок «SXW», как обычную смету с расценками типа «СЦЕН…»
  и в результате получить перечень исходных материалов.
</p>
<br>
<br>
<h5>Обратите внимание!</h5>
<p>
  Данный сервис рассчитан на весьма опытных пользователей программного комплекса «SXW» с уровнем знаний "выше среднего".
</p>
<p>
  Если Вы начинающий пользователь и не понимаете разницы между экспортом и импортом, или в чём заключается
  различие видов экспорта данных (*.txt, *.cic, *.xml), то нужно ли оно Вам вообще?
</p>
<p>
  Но, если вы чувствуете себя вполне уверенно, то добро пожаловать. И надеюсь, что сервис будет полезен для Вас.
</p>

{% endblock %}