{% extends "_base.html" %}
{% load static %}

{% block content %}
<p>
  Собственно успешная работа на данном портале сводится к трем простым действиям.
</p>
<ol>
  <li>Создать объект</li>
  <li>Загрузить материалы из excel-файла в объект</li>
  <li>Скачать данные объекта в формате «xml»</li>
</ol>
<p align="justify">
  Также, при необходимости, можно очистить объект (это удалит все привязанные к нему материалы) или удалить сам объект,
  воспользовавшись соответствующими пунктами меню.
</p>
<p>С первым пунктом, я уверен, Вы успешно справятесь сами.</p>
<br>

<a name="upload"></a>
<h4>Загрузка материалов в объект</h4>
<p align="justify">
  Для добавления Ваших материалов в объект, необходимо воспользоваться пунктом меню «Добавить
  материалы в объект». К загрузке на сайт допускаются файлы только с расширением «*.xlsx» (начиная от версии Excel-2007
  и выше).
</p>
<p align="justify">
  Для успешной загрузки Вашего исходного excel-файла, необходимо, чтобы данные в нём были представлены
  в определенной структуре. Все данные должны быть распределены на пять столбцов (наименование, еденица измерения,
  количество, цена и стоимость), какие-то из столбцов могут остаться пустыми, но дополнительных столбцов, кроме указанных,
  быть не может. Первые пять ячеек первой строки должны содержать специальные указатели. В обязательном порядке! В ином
  случае файл загружен не будет.
</p>
<h6>Содержимое первых пяти ячеек первой строки: 'NAIM' 'ED_IZM' 'KOL_VO' 'PRICE' 'COST'</h6>
<img src="{% static 'main/img/img_example_1.png' %}" class="img-fluid" alt="Изображение не доступно">
<br><br><br>

<a name="exception"></a>
<h5>Исключение</h5>
<p align="justify">
  В некоторых случаях выгрузка материалов из «1С» может не содержать информации по единицам измерения и цене на материал,
  а включать лишь итоговую сумму позиции. Алгоритм предусматривает такое стечение обстоятельств. При оформлении данных в
  excel-файле допускается оставить незаполненными два столбца: единицы измерения (ED_IZM) и цена (PRICE).
  При этом содержимое вашего файла будет выглядеть следующим образом:
</p>
<img src="{% static 'main/img/img_example_2.png' %}" class="img-fluid" alt="Изображение не доступно">
<br><br><br>

<a name="perfect"></a>
<h5>Идеальный вариант</h5>
<p align="justify">
  Но в идеале, для обеспечения достаточной полноты данных, в Вашем файле должны быть заполнены все столбцы. В этом случае
  содержимое вашего файла будет выглядеть вот так:
</p>
<img src="{% static 'main/img/img_example_3.png' %}" class="img-fluid" alt="Изображение не доступно">
<br><br>
<p>Это наилучший вариант.</p>
<br>
<br>

<a name="requirements"></a>
<h4>Требования к оформлению содержимого файла:</h4>
<ul align="justify">
  <li>
    Не должно быть пропущенных пустых строк или ячеек среди остальных данных. Если есть пустая строка или ячейка,
    то она должна быть удалена.
  </li>
  <li>В конце файла не должно быть никаких подытоживающих строк типа: "Сумма", "Всего", "Итого" и пр.</li>
  <li>
    В файле не должно быть скрытых строк с неявными данными. Такие строки все равно будут прочитанны. И если данные
    содержащиеся в них не будут соответствовать требованиям (например это будут пустые строки), то файл загружен не будет.
  </li>
  <li>
    Кроме ячеек, содержащих нужные данные в диапазоне первых пяти столбцов, все остальные ячейки во всём документе
    должны быть пусты. В том числе, все прочие ячейки не должны содержать никаких скрытых или неявных символов.
    Такие ситуации имеют место при неосторожном редактировании информации в исходном файле. В случае, если сайт
    отказывается загружать Ваш файл с явной ошибкой указывающей на такую ситуацию, попробуйте удалить несколько
    последних пустых строк или столбцов в своем файле.
  </li>
  <li>
    В альтернативном варианте вы можете создать новый пустой excel-файл, скопировать туда уже отредактированные данные
    и после сохранения попробовать загрузить на сайт именно его.
  </li>
</ul>
<br>
<br>

<a name="download"></a>
<h4>Скачивание данные объекта</h4>
<p align="justify">
  Для скачивания данных по объекту в формате xml-файла, необходимо воспользоваться пунктом меню «скачать данные объекта
  (xml)», выбрать нужный объект из выпадающего списка и нажать кнопку «скачать».  После этого xml-файл будет загружен на
  Ваш компьютер автоматически.  Чтобы воспользоваться скачанными данными, необходимо будет произвести импорт данного
  xml-файла в программный комплекс по расчёту смет и процентовок «SXW».
</p>
<p align="justify">
  После импорта данного xml-файла в программе «SXW» должна создаться не привязанная часть стройки с названием вашего
  объекта, а в ней - смета.  Войдя в данную смету, в карточке строительства можно выставить нужный процент ОХР/ОПР и ПП,
  если это необходимо. В разделе «работы» можно перепривязать процент ОХР/ОПР и ПП, после чего с данными можно работать
  как с обычной сметой.
</p>

{% endblock %}



{% block additional_content %}
<h5><small>Быстрый доступ:</small></h5>
<ul>
  <li>
    <small><a href="#upload">Загрузка материалов в объект</a></small>
    <ul>
      <li><small><a href="#exception">Исключение</a></small></li>
      <li><small><a href="#perfect">Идеальный вариант</a></small></li>
    </ul>
  </li>
  <li>
    <small><a href="#requirements">Требования к оформлению содержимого файла</a></small>
  </li>
  <li>
    <small><a href="#download">Скачивание данные объекта</a></small>
  </li>
</ul>
{% endblock additional_content %}