{% extends "_base.html" %}

{% block content %}
{% if request.user.is_authenticated %}
  {% if object_list%}
    <table class="table table-hover">
      <thead class="table-light">
        <tr>
          <th scope="col" class="text-center align-middle">ID</th>
          <th scope="col" class="text-center align-middle">Название объекта:</th>
          <th scope="col" class="text-center">Дата создания:</th>
          <th scope="col" class="text-center">Добавлены материалы</th>
        </tr>
      </thead>
      <tbody>
        {% for obj in object_list %}
          <tr>
            <th scope="row" class="text-center">{{obj.pk}}</th>
            <td><a href="{{obj.get_absolute_url}}">{{obj.name|truncatechars:100}}</a></td>
            <td class="text-center">{{obj.time_create|date:"d-m-Y H:i:s"}}</td>
            <td class="text-center">
              {% if obj.num_material %}
                Да
              {% else %}
                Нет
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% else %}
  <h2>В данный момент Вы не аутетифицированы, как пользователь данного сайта.</h2>
  <h3>Пожалуйста войдите или зарегистрируйтесь.</h3>
  <hr>
  <h5>Вы можете посетить следующие страницы:</h5>
  <br>
  <ul>
    <li><a href="{% url 'help' %}">Помощь</a></li>
    <li><a href="{% url 'reviews' %}">Отзывы и предложения</a></li>
    <li><a href="{% url 'register' %}">Регистрация</a></li>
    <li><a href="{% url 'login' %}">Вход</a></li>
  </ul>
{% endif %}

{% endblock %}